
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  text-align: left;
  border: 1px solid #8c9748;
}

th {
  background-color: #21bdbd;
  color: white;
}

tr:nth-child(even) {
  background-color: #f6f4f4;
}

tr:hover {
  background-color: #d0d5ca;
}
 
h2 {
  color: brown;
  border-style: ridge;
  border-color: black;
}

body { background-image: image-set();

}