body {
  font-family: Arial, sans-serif;
  background-color: #e6f3f7;
  margin: 20px;
}

.container {
  background-color: beige ;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.list {
  margin-left: 20px;
  color: chartreuse;
}
.list2{
  margin-left: 20px;
  color: red;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #390446;
}

